%footer
  .container
    %ul
      %li
        %a{:href => "#"} terms of service
      %li
        %a{:href => "#"} privacy policy
      %li
        %a{:href => "#"} contact
    %span.copyright
      All rights reserved, UpHex © 2014
