%ul
  %li.username
    %a{:href => "/users/me"}
      = current_user.name
  %li
    %a{:href => "/accounts/me"} account
  %li
    %a{:onclick=>"logout_form.submit();",:href=>'#'}
      log out
      %form{:action=>'/users/me/session', :method => 'post', :id=>'logout_form'}
        = csrf_token_field
        %input{:type=>'hidden', :name=>'_method', :value=>'DELETE'}
