---
production:
  adapter: postgresql
  username: <%= ENV['DATABASE_USERNAME'] || ENV['POSTGRESQL_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] || ENV['POSTGRESQL_PASSWORD'] %>
  database: <%= ENV['DATABASE_DATABASE'] || ENV['POSTGRESQL_DATABASE'] %>
  host:     <%= ENV['DATABASE_ADDRESS'] || ENV['POSTGRESQL_ADDRESS'] %>

development:
  adapter: postgresql
  username: postgres
  database: uphex-development
  host: localhost

test:
  adapter: postgresql
  username: postgres
  database: uphex-test
  host: localhost
