footer {
  border-top: $light-border;
  margin-top:60px;
  .container {
  height:120px;
  line-height:120px;
  background: url('/images/logo_pale.png') center no-repeat;
  overflow:hidden;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      float:left;
      li {
        display: inline;
        padding: 0 10px;
        &:first-child {
          padding: 0;
        }
        a {
          text-decoration: none;
          color: $main-font;
          &:visited {
            color: $main-font;
          }
          &:hover {
            color: $link-hover;
          }
        }
      }
    }
    .copyright {
      float:right;
    }
  }
}

