%div
  This is the main page. Please select from the left

- content_for :title do
  UpHex

- content_for :navigation do
  %li= link_to 'sign in', '/sessions/new'
  %li= link_to 'sign up', '/users/new'
