%div
  This is the main page. Please select from the left

- content_for :title do
  Uphex

- content_for :navigation do
  - if env['warden'].authenticated?
    %li= link_to 'Dashboard', '/users/me/dashboard'
    %li= link_to 'Profile', '/users/me'
  - else
    %li= link_to 'Sign in', '/sessions/new'
    %li= link_to 'Sign up', '/users/new'
